body {
    background-image: url("background.png");
    background-size: 1920px 1080px;
    background-attachment: fixed;
    background-position: center;
    color: white;
    text-align: center;
    padding: 120px 0;
    margin: 0;
    font-family: 'Press Start 2P', cursive;
    font-size: 24px; /* Увеличен размер шрифта */
}

#home {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px; /* Добавлен отступ сверху */
}

nav {
    display: flex;
    justify-content: center;
    background-color: #4CAF50;
    padding: 40px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    font-family: 'Press Start 2P', cursive; /* Замените 'Arial' на нужный шрифт */
    font-size: 22px; /* Установите размер шрифта по вашему выбору */
    color: white; /* Цвет текста */
}


nav a {
    cursor: pointer;
    padding: 20px 30px;
    display: block;
    color: white;
    text-decoration: none;
    background-color: transparent; /* Initial background color */
    transition: transform 0.3s ease; /* Smooth background and scaling transitions */
    margin: 0 30px; /* Add horizontal spacing between links */
}

nav a.home {
    
    margin-right: 200px; /* Increase spacing specifically for the Home link */
}

.fade-in {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}
.visible {
    opacity: 1;
}
nav a:hover {
    background-color: rgba(76, 175, 80, 0.7); /* Darker shade of green on hover */
    transform: scale(1.2); /* Increase size on hover */
}

.button img {
    height: 50px; /* Original image size */
    transition: transform 0.2s; /* Smooth transition for the image */
}

.button:hover img {
    transform: scale(1.2); /* Increase the image size on hover */
}
.content {
    padding: 20px;
    text-align: center;
    display: none;
}
#game-description {
    opacity: 0; /* Скрываем описание игры */
    visibility: hidden; /* Делаем его невидимым */
    transition: opacity 0.5s, visibility 0.5s, transform 0.5s; /* Плавный переход */
    background: rgba(255, 255, 255, 0.9); /* Прозрачный фон для блока */
    padding: 20px; /* Отступы вокруг текста */
    max-width: 1190px; /* Максимальная ширина блока */
    margin: 0 auto; /* Центрирование блока */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Тень для блока */
    color: #333; /* Цвет текста */
    transform: translateY(500px); /* Сдвиг вниз для скрытия */
}

#game-description.visible {
    opacity: 1; /* Показываем описание игры */
    visibility: visible; /* Делаем его видимым */
    transform: translateY(0); /* Возвращаем на место */
}
section {
    height: 100vh; /* Высота каждого раздела */
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(240, 240, 240, 0.8); /* Прозрачный фон */
    border-bottom: 1px solid #a5a2a2;
    overflow: hidden; /* Скрыть переполнение */
    position: relative; /* Установить контекст позиционирования */
    transition: background 0.3s ease; /* Плавный переход фона */
}
.active { 
    display: block; 
}

.button {
    display: inline-block;
    padding: 0px; /* Добавьте отступы для увеличения кнопки */
    background-color: transparent; /* Цвет фона, если нужно */
    border: none; /* Уберите границу, если она есть */
    cursor: pointer; /* Курсор в виде указателя */
}


.animation {
    animation: fadeIn 2s ease-in;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}
@keyframes slideUp {
    from { bottom: -100px; opacity: 0; }
    to { bottom: 0; opacity: 1; }
}


.chicken-gif {
    position: absolute;
    transition: left 1.5s ease-in-out, top 1.5s ease-in-out; /* Плавный переход */
}
.container {
    display: flex;
    align-items: flex-end; /* Align items to the bottom */
    position: fixed;
    bottom: 0px;
    right: 50px; /* Positioning the entire container */
}

.mail-button {
    position: fixed;
    bottom: 0px;
    right: 80px;
    width: 100px;
    height: 100px;
    background-image: url('postMail.png');
    background-size: cover;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    outline: none;
    background-color: transparent;
}

.consultant {
    display: none; /* Change to block or flex if you want to show it */
    position: relative;
    animation: slideUp 0.5s forwards;
    margin-right: 190px; /* Space between consultant and mail button */
}
