body {
    background-image: url("background.png");
    background-size: 1920px 1080px;
    background-position: center;
    color: white;
    text-align: center;
    padding: 120px 0;
    margin: 0;
}

nav {
    display: flex;
    justify-content: center;
    background-color: #4CAF50;
    padding: 40px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}

nav a {
    padding: 14px 20px;
    display: block;
    color: white;
    text-decoration: none;
}

.content {
    padding: 20px;
    text-align: center;
}

.animation {
    animation: fadeIn 2s ease-in;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

.button {
    background-image: url('homeButton.png');
    background-size: contain;
    background-repeat: no-repeat;
    display: inline-block;
    width: 15px;
    height: 20px;
    overflow: hidden;
    background-position: center;
}

.chicken-gif {
    position: absolute;
    transition: left 0.5s ease-in-out, top 0.5s ease-in-out;
}