body {
    background-image: url("background.png");
    background-size: 1920px 1080px;
    background-position: center;
    color: white;
    text-align: center;
    padding: 120px 0;
    margin: 0;
}

nav {
    display: flex;
    justify-content: center;
    background-color: #4CAF50;
    padding: 40px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}

nav a {
    padding: 14px 20px;
    display: block;
    color: white;
    text-decoration: none;
}
.content {
    padding: 20px;
    text-align: center;
}

.animation {
    animation: fadeIn 2s ease-in;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}
@keyframes slideUp {
    from { bottom: -100px; opacity: 0; }
    to { bottom: 0; opacity: 1; }
}
.button {
    background-image: url('homeButton.png');
    background-size: contain;
    background-repeat: no-repeat;
    display: inline-block;
    width: 15px;
    height: 20px;
    overflow: hidden;
    background-position: center;
}

.chicken-gif {
    position: absolute;
    transition: left 0.5s ease-in-out, top 0.5s ease-in-out;
}
.container {
    display: flex;
    align-items: flex-end; /* Align items to the bottom */
    position: fixed;
    bottom: 0;
    right: 50px; /* Positioning the entire container */
}

.mail-button {
    position: fixed;
    bottom: 0px;
    right: 80px;
    width: 100px;
    height: 100px;
    background-image: url('postMail.png');
    background-size: cover;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    outline: none;
    background-color: transparent;
}

.consultant {
    display: none; /* Change to block or flex if you want to show it */
    position: relative;
    animation: slideUp 0.5s forwards;
    margin-right: 190px; /* Space between consultant and mail button */
}
.text-block {
    display: none;
    padding-bottom: 200px;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}
